# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://vnovztzvnqairqnawiii.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZub3Z6dHp2bnFhaXJxbmF3aWlpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk5MTAwMDUsImV4cCI6MjA4NTQ4NjAwNX0.GI2w5a71tiKaUDfUw2z_EpFu3qJpC368wkvIjnNCjgM

# Backend API
NEXT_PUBLIC_API_URL=http://letters-backend.mochance.edu.kg
